@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  @apply rounded-md bg-amber-900 px-5 py-2.5 text-sm font-medium text-white shadow hover:bg-amber-900/80
}

.secondary-btn {
  @apply rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-amber-900 hover:bg-gray-300
}

